.operation {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

/*main interface*/
.data_div{ 
    display: inline-block;
    border: 1px solid red;
    vertical-align: middle;
    padding: 1rem 1rem
}
.sort_div{
    display: inline-block;
    border: 1px solid red;
    vertical-align: middle;
    padding: 1rem 1rem;
}

/* respective divs */
#data_parent > div{
    font-size: 150%;
    width : 90px;
    height : 90px;
    outline: 3px solid grey;
    position: absolute;
    top: 500px;
}



/* explain */
.code_div{
    position: absolute;
    right:20%
}

